body {
  margin:0;
  font-family:Verdana,sans-serif;
  font-size:15px;
  line-height:1.5;
  background-color:#F7F9FB;
}

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
.subtitle1{ font-size:14px }
.serif{ font-family:serif }

h1,h2,h3,h4,h5,h6 {
  font-family:"Segoe UI",Arial,sans-serif;
  font-weight:400;
  margin:10px 0;
}

.wide{ letter-spacing:4px }
.hover-opacity:hover{ opacity:0.60 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Colors */
.green{ color: #405939; }
.dark-blue{ color: #295F70; }
.blueish-white{ color: #F7F9FB; }
